name: ci to production

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]
  workflow_dispatch:

jobs:
  push_docker_image_to_github_packages:
    name: Build and push docker images
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
      - name: Permissions
        run: chmod +x ./deploy.sh
      - name: Deploy
        run: ./deploy.sh
        env:
          CR_PAT: ${{ secrets.CR_PAT }}
          KUBECTL_CONFIG: ${{ secrets.KUBECTL_CONFIG }}
          BUILD_NUMBER: ${{ github.run_number }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
          DOCKER_USER: ${{ secrets.DOCKER_USER  }}

  # deploy_to_kubernetes_cluster:
  #   name: Deploy to Kubernetes Cluster
  #   needs: push_docker_image_to_github_packages
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout Repo
  #       uses: actions/checkout@v2
  #     - name: Set Kubernetes Context
  #       uses: azure/k8s-set-context@v1
  #       with:
  #         method: kubeconfig
  #         kubeconfig: ${{ secrets.KUBECTL_CONFIG }}
  #     - name: Deploy to Cluster
  #       env:
  #         BUILD_NUMBER: ${{ github.run_number }}
  #       run: |
  #         export BUILD_TAG=django-prod-$BUILD_NUMBER
  #         sed -i "s/VERSION/${BUILD_TAG}/g" ./k8s/app/deploy.yaml
  #         sed -i "s/VERSION/${BUILD_TAG}/g" ./k8s/celery-worker/celery-worker.yaml
  #         sed -i "s/VERSION/${BUILD_TAG}/g" ./k8s/celery-flower/celery-flower.yaml

  #         kubectl apply -f ./k8s/app/deploy.yaml
  #         kubectl apply -f ./k8s/celery-worker/celery-worker.yaml
  #         kubectl apply -f ./k8s/celery-flower/celery-flower.yaml
